@use "./variables";

.contact {
  font-size: 2.1rem;
  padding: 6rem 0;
  color: variables.$whiteColor;
  background-color: variables.$deep-dark;

  &__container {
    display: flex;
  }

  &__info {
    margin: 0 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    min-width: 6.5rem;
    max-width: 6.5rem;
    min-height: 6.5rem;
    max-height: 6.5rem;
  }

  &__phone,
  &__address,
  &__open-hours {
    padding: 2rem 0;
    display: flex;
    align-items: center;
  }

  &__phone {
    margin-bottom: auto;
  }

  &__address {
    margin: auto 0;
  }

  &__open-hours {
    margin-top: auto;
  }

  &__map {
    margin-right: 2rem;
    width: 50%;
  }

  &__details {
    margin-left: 4rem;
  }

  &__bold {
    font-weight: bold;
  }

  &__grayed {
    font-style: italic;
    color: variables.$gray-description;
  }
}
@media (max-width: 768px) {
  .contact {
    &__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__info {
      margin: 0 2rem;
      width: 30rem;
      align-items: center;
      text-align: center;
    }

    &__phone,
    &__address,
    &__open-hours {
      justify-content: center;
    }

    &__details {
      margin: 0;
      padding-left: 4rem;
      font-size: 1.5rem;
      text-align: left;
    }

    &__map {
      margin: 0;
      width: 90%;
      height: 50rem;
    }
  }
}
